name: Publish Vocabulary

permissions:
  contents: write

on:
    release:
        types: [published]


jobs:
  publish-vocabulary:
        uses: eu-parc/voc2skosmos-workflow/.github/workflows/yml2skos.yml@main
        with:
          ref: ${{ github.ref }}
          namespace: https://w3id.org/peh/terms/
          linkml_schema: https://raw.githubusercontent.com/eu-parc/parco-hbm/main/linkml/schema/peh.yaml
          data: data/data.yaml
          voc_uri: https://w3id.org/peh/observable-properties
          entity_name: ObservableProperty
        secrets:
          token: ${{ secrets.GITHUB_TOKEN }}

  #publish-vocabulary:
  #  uses: eu-parc/voc2nanopub/.github/workflows/yml2nanopub.yml@main
  #  with:
  #    ref: ${{ github.ref }}
  #    linkml_schema: schema/peh.linkml.yml
  #    data: data/ObservablePropertyList_data.yml
  #    target_name: observable_properties
  #    server_mode: ${{ github.event_name == 'pull_request' && 'test' || 'production' }}
  #    dry_run: ${{ github.event_name == 'pull_request' && 'true' || 'false' }}
  #    output_pairs: data/redirect-pairs.txt
  #    preflabel: name
  #    type_prefix: OP
  #    #voc_version: ${{ github.event.release.tag_name }}
  #  secrets:
  #    token: ${{ secrets.GITHUB_TOKEN }}
  #    NANOPUB_ORCID_ID: ${{ secrets.NANOPUB_ORCID_ID }}
  #    NANOPUB_NAME: ${{ secrets.NANOPUB_NAME }}
  #    NANOPUB_PRIVATE_KEY: ${{ secrets.NANOPUB_PRIVATE_KEY }}
  #    NANOPUB_PUBLIC_KEY: ${{ secrets.NANOPUB_PUBLIC_KEY }}
  #    NANOPUB_INTRO_URI: ${{ secrets.NANOPUB_INTRO_URI }}

      
